/* Dark mode colors. */
:root {
	--sl-color-accent-low: #17181c;
	--sl-color-accent: #afe614;
	--sl-color-accent-high: #afe614;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
}